fastapi
uvicorn[standard]
SQLAlchemy
psycopg2-binary
pydantic
transformers
torch
langchain-ollama
langchain-core
sentence-transformers
tiktoken
sentencepiece
protobuf
python-dotenv
google-genai
matplotlib
numpy
pandas
scipy
seaborn
scikit-learn
spacy
tqdm
datasets